
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="assets/logo-ccm.png" class="card-img-top"></div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Home</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboards</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Ambiente</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Provisionar</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Fatura</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Conta</a>
    </div>
</div>

