<div class="container">
    <h2 for="basic-url">Escolher sua imagem para sua VM instance</h2>
    <div class="form-row">
        <div class="card" style="width: auto;">
            <img src="assets/oracle.png" class="card-img-top" />
            <div class="card-body">
                <h5 class="card-title">Oracle Linux</h5>
                <p class="card-text">Imagem certificada.</p>
                <a href="#" class="btn btn-primary">Escolher este</a>
            </div>
        </div>

        <div class="card" style="width: auto;">
            <img src="assets/windows.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Windows Server</h5>
                <p class="card-text">Imagem certificada.</p>
                <a href="#" class="btn btn-primary">Escolher este</a>
            </div>
        </div>

        <div class="card" style="width: auto;">
            <img src="assets/centos.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Cent-OS</h5>
                <p class="card-text">Imagem certificada.</p>
                <a href="#" class="btn btn-primary">Escolher este</a>
            </div>
        </div>

        <div class="card" style="width: auto;">
            <img src="assets/ubuntu.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Ubuntu</h5>
                <p class="card-text">Imagem certificada.</p>
                <a href="#" class="btn btn-primary">Escolher este</a>
            </div>
        </div>

        <div class="card" style="width: auto;">
            <img src="assets/custom.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Custom</h5>
                <p class="card-text">Imagem certificada.</p>
                <a href="#" class="btn btn-primary">Escolher este</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Volume de boot</span>
        </div>
        <input type="text" class="form-control" placeholder="Volume em GB (min. 50Gb max. 32Tb)" aria-label="Instância" aria-describedby="basic-addon1">
    </div>
    <div class="form-row">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Escolha a versão
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">18.05</a>
                <a class="dropdown-item" href="#">16.05</a>
                <a class="dropdown-item" href="#">14.04</a>
            </div>
        </div>
        
        <input type="text" class="form-control" placeholder="Versão" aria-label="Instância" aria-describedby="basic-addon1">
        <br>
        <br>

        <br>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Nome</span>
            </div>
                    <br>

            <input type="text" class="form-control" placeholder="Nome da instância" aria-label="Instância" aria-describedby="basic-addon1">
        </div>
    </div>
    <br>
    <br>
    <div class="form-row; align=center" >
        <button type="button" class="btn btn-danger">Cancelar</button>

        <button type="button" class="btn btn-primary">Avançar</button>
    </div>
</div>